---
# Front matter comment to ensure Jekyll properly reads file.
---
/* Product Sans font declaration */

$gitlab: #FC6D27;
$github: #DDD;
$twitter: #00aced;
$youtube: #FF0000;
$github-alt: black;
$trm: #96B844;
$discord: #7289DA;
$twitch: #9146FF;
$blog: #eee;
$dark: #343a40;

$colors: ("darker": $dark, "blog": $blog, "discord": $discord, "trm": $trm, "gitlab": $gitlab, "youtube": $youtube, "github-alt": $github-alt, "github": $github, "twitter": $twitter, "twitch": $twitch);

.col.col-projects-icon {
	max-width: 64px;
	padding: 0;
	margin-left: 15px;
}

.right-0 {
	right: 0;
	bottom: 5px;
}

@each $name, $color in $colors{
	.text-#{$name} {
		color: $color;
	}

	a.text-#{$name} {
		transition: all 200ms ease;
		text-decoration: none !important;
	}

	a.text-#{$name}:hover {
		color: darken($color, 15%);
	}

	.btn-#{$name} {
		background-color: $color;
		border-color: $color;
		color: white;
	}

	.bg-#{$name} {
		background-color: $color;
		color: white;
	}

	.btn-#{$name}:hover {
		color: white;
		background-color: darken($color, 15%);
		border-color: darken($color, 15%);
	}

	.badge-#{$name} {
		background-color: $color;
	}
}

.stuff-list .card:not(:last-child) {
	margin-bottom: 1.25rem;
}

@font-face {
	font-family: 'Product Sans', Arial, sans-serif;
	src: url("/font/product-sans.woff");
}

@font-face {
    font-family: "Product Sans", Arial, sans-serif;
    src: url("font/product-sans-bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Product Sans", Arial, sans-serif;
    src: url("font/product-sans-italic.woff2");
    font-style: italic;
}

@font-face {
    font-family: "Product Sans", Arial, sans-serif;
    src: url("font/product-sans-bolditalic.woff2");
    font-weight: bold;
	font-style: italic;
}

.product-sans {
	font-family: 'Product Sans';
}

/* Actual things now xoxo */

#main-stuff {
	padding: 15px;
}

.post-main {
	width: 85%;
	margin: auto;
}

.icon-small {
	font-size: 16px;
	padding-right: 3px;
}

.card-img-top {
	height: auto;
    max-width: 100%;
    position: relative;
    width: auto;
}


hr {
	background-color: white;
}

.card-img-post {
	filter: brightness(0.55);
}

.card-img-overlay-post {
	/* Deprecated
	-webkit-filter: drop-shadow(0px 0px 3px #aaa);
	filter: drop-shadow(0px 0px 3px #aaa); 
	*/
}

.homepagerow {
	max-width: 60em;
	margin: 0 auto;
}

.card-img-left {
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}

.card-text-light {
	color: whitesmoke;
}

.card-title-post {
	font-size: 32px;
}

.allposts-li {
 cursor: pointer;
}

.allposts-pad {
	padding-bottom: 10px;
}

.footer {
	background-color: #333;
}

body {
  min-height: 100vh; 
}

pre {
	padding: 10px !important;
	border-radius: 10px;
}

.tab-border {
	padding: 15px;
	border: 1px solid #444;
	border-top: 0px solid #444;
}

/* Code highlighting */
.highlight .hll { background-color: #2E2E2E }
.highlight  { background: #2E2E2E; color: #d0d0d0 }
.highlight .c { color: #999999; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .esc { color: #d0d0d0 } /* Escape */
.highlight .g { color: #d0d0d0 } /* Generic */
.highlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .l { color: #d0d0d0 } /* Literal */
.highlight .n { color: #d0d0d0 } /* Name */
.highlight .o { color: #d0d0d0 } /* Operator */
.highlight .x { color: #d0d0d0 } /* Other */
.highlight .p { color: #d0d0d0 } /* Punctuation */
.highlight .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #f71d1d; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .gd { color: #d22323 } /* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d22323 } /* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #589819 } /* Generic.Inserted */
.highlight .go { color: #cccccc } /* Generic.Output */
.highlight .gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #d22323 } /* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #d0d0d0 } /* Literal.Date */
.highlight .m { color: #3677a9 } /* Literal.Number */
.highlight .s { color: #ed9d13 } /* Literal.String */
.highlight .na { color: #bbbbbb } /* Name.Attribute */
.highlight .nb { color: #24909d } /* Name.Builtin */
.highlight .nc { color: #447fcf;} /* Name.Class */
.highlight .no { color: #40ffff } /* Name.Constant */
.highlight .nd { color: #ffa500 } /* Name.Decorator */
.highlight .ni { color: #d0d0d0 } /* Name.Entity */
.highlight .ne { color: #bbbbbb } /* Name.Exception */
.highlight .nf { color: #447fcf } /* Name.Function */
.highlight .nl { color: #f16f02 } /* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .nx { color: #d0d0d0 } /* Name.Other */
.highlight .py { color: #d0d0d0 } /* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #40ffff } /* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .w { color: #666666 } /* Text.Whitespace */
.highlight .mb { color: #3677a9 } /* Literal.Number.Bin */
.highlight .mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .sa { color: #ed9d13 } /* Literal.String.Affix */
.highlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .dl { color: #ed9d13 } /* Literal.String.Delimiter */
.highlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .sx { color: #ffa500 } /* Literal.String.Other */
.highlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .fm { color: #447fcf } /* Name.Function.Magic */
.highlight .vc { color: #40ffff } /* Name.Variable.Class */
.highlight .vg { color: #40ffff } /* Name.Variable.Global */
.highlight .vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .vm { color: #40ffff } /* Name.Variable.Magic */
.highlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */

.text-drop-shadow-light {
	text-shadow: 0px 0px 10px white;
}

.text-drop-shadow-dark {
	text-shadow: 0px 0px 10px #333;
}

.box-drop-shadow-dark {
	box-shadow: 0px 0px 10px #333;
}

.box-drop-shadow-light {
	box-shadow: 0px 0px 10px whitesmoke;
}

.image-desc {
	background: #00bc8c !important;
	width: 70%;
	justify-content: center;
	display: flex;
	padding: 5px;
	vertical-align: center;
	color: white;
}

.post-image {
	width: 70%;
}



	.homepage-card {
		margin-bottom: 10px;
	}

/* Mobile compatibility */
@media screen and (max-width: 600px) {
    .card-img-overlay-post {
		font-size: 14px;
	}

	.card-title-post {
		font-size: 18px;
	}

	.post-main {
		width: 95%;
	}
	
	.image-desc {
		width: 100%;
	}
	
	.post-image {
		width: 100%;
	}
}
