---
title: My blog
layout: default
permalink: /blog/
keywords: trm, therandommelon blog, therandommelon
description: My thoughts put into a blog that no one cares about.
desc: My thoughts put into a blog that no one cares about.
---

<div class="m-4">
	<h2 class="mb-4 text-center">Latest posts</h2>
	{% for post in site.posts limit:5 %}
	<div class="homepage-card">
		<div class="card mb-3 clearfix">
			<div class="card-body">
				<div class="float-left">
				{% if post.badge-text %}
					<h4 class="card-title"><span class="badge badge-danger">{{ post.badge-text }}</span> {{ post.title }}</h4>
				{% else %}
					<h4 class="card-title">{{ post.title }}</h4>
				{% endif %}
				
				{% if post.via %}
				<p class="card-text">
					{{ post.desc }}<br>
					<span class="text-muted">Posted on {{ post.date | date: '%B %d, %Y' }} on {{ post.via }}</span>
				</p>
				{% else %}
				<p class="card-text">
					{{ post.desc }}<br>
					<span class="text-muted">Posted on {{ post.date | date: '%B %d, %Y' }}</span>
				</p>
				{% endif %}
				</div>
				{% if post.via %}
					<a href="{{ post.via-link }}" class="btn btn-primary btn-blog-home">Read this post on {{ post.via }}</a>
				{% else %}
					<a href="{{ post.url }}" class="btn btn-primary btn-blog-home">Read this post</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
	<br>
	<h2 class="mb-4 mt-4">Want more posts?</h2>
	<a href="/posts" class="btn btn-primary text-center">See all posts</a>
</div>
