---
title: Home
description: Michael Webb (TheRandomMelon)'s official site for all of the random things he does.
keywords: homepage
---

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#a9c453">
	<meta name="theme-color" content="#a9c453">
	<!-- Search Engine Meta -->
	<meta name="robots" content="index, follow">
	<meta name="author" content="TheRandomMelon" />
	<meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ page.title | escape }}{% endif %}">
	<meta name="keywords" content="trm, therandommelon, trm youtube, therandommelon blog, therandommelon.com, {{ page.keywords | escape }}">
	<!-- Open Graph  -->
	<meta property="og:title" content="{{ page.title | escape }}">
	<meta property="og:site_name" content="TheRandomMelon">
	<meta property="og:url" content="https://therandommelon.com">
	<meta property="og:description" content="{{ page.description | escape }} ">
	<meta property="og:type" content="website">
	{% if page.image %}
	<meta property="og:image" content="https://therandommelon.com/img/posts/{{ page.image }}">
	{% else %}
	<meta property="og:image" content="https://therandommelon.com/img/trm_logo.png">
	{% endif %}
	<!-- Twitter -->
	{% if page.image %}
	<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@michaelwebbtrm" />
		<meta name="twitter:title" content="{{ page.title | escape }} - {{ site.title | escape }}" />
		<meta name="twitter:description" content="{% if page.desc %}{{ page.desc | escape }}{% else %}{{ page.title | escape }}{% endif %}" />
		<meta name="twitter:image" content="https://therandommelon.com/img/posts/{{ page.image }}" />
	{% else %}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@michaelwebbtrm" />
		<meta name="twitter:title" content="{{ page.title | escape }} - {{ site.title | escape }}" />
		<meta name="twitter:description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ page.title | escape }}{% endif %}" />
{% endif %}
<title>{% if page.title %}{{ page.title }} - {% endif %} TheRandomMelon</title>
<meta name=”theme-color” content=”#96B844”>
<link href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
	 $(function () { $('[data-toggle="tooltip"]').tooltip() })
</script>
</head>
<body class="d-flex flex-column homepagerow">
	<div class="m-4">
		<div class="text-center">
			<h1><img src="/img/trm_logo.png" width="44" alt="TRM Logo" class="rounded-circle align-top mr-1" /> TheRandomMelon</h1>

			<a href="https://twitter.com/michaelwebbtrm" class="mr-2 text-twitter"><i class="fab fa-twitter"></i> Twitter</a>
			<a href="https://twitch.tv/therandommelon" class="mr-2 text-twitch"><i class="fab fa-twitch"></i> Twitch</a>
			<a href="https://www.youtube.com/TheRandomMelon" class="mr-2 text-youtube"><i class="fab fa-youtube"></i> YouTube</a>
			<a href="https://gitlab.com/TheRandomMelon" class="mr-2 text-gitlab"><i class="fab fa-gitlab"></i> GitLab</a>
			<a href="https://github.com/TheRandomMelon" class="mr-2 text-github"><i class="fab fa-github"></i> GitHub</a>
			<a href="#!" data-toggle="modal" data-target="#emailModal" class="mr-2 text-blog"><i class="fas fa-envelope"></i> Email</a>
			<a href="/blog/" class="mr-2 text-blog"><i class="fas fa-pencil-alt"></i> Blog</a>
		</div>
		<div class="modal fade" id="emailModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title">Email address</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<pre class="text-white">michael [at] therandommelon [dot] com</pre>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-trm" data-dismiss="modal">Close</button>
				</div>
			  </div>
			</div>
		  </div>
		<br>
		<h2 class="mb-4 mt-4 text-center">Newest blog post</h2>
		{% for post in site.posts limit:1 %}
		<div class="homepage-card">
			<div class="card mb-3 clearfix">
			  <div class="card-body">
				<div class="float-left">
				{% if post.badge-text %}
					<h4 class="card-title"><span class="badge badge-danger">{{ post.badge-text }}</span> {{ post.title }}</h4>
				{% else %}
					<h4 class="card-title">{{ post.title }}</h4>
				{% endif %}
				
				{% if post.via %}
				<p class="card-text">
					{{ post.desc }}<br>
					<span class="text-muted">Posted on {{ post.date | date: '%B %d, %Y' }} on {{ post.via }}</span>
				</p>
				{% else %}
				<p class="card-text">
					{{ post.desc }}<br>
					<span class="text-muted">Posted on {{ post.date | date: '%B %d, %Y' }}</span>
				</p>
				{% endif %}
				</div>
				{% if post.via %}
					<a href="{{ post.via-link }}" class="btn btn-primary btn-blog-home">Read this post on {{ post.via }}</a>
				{% else %}
					<a href="{{ post.url }}" class="btn btn-primary btn-blog-home">Read this post</a>
				{% endif %}
			  </div>
			</div>
		</div>
		{% endfor %}
		<br>
		<h2 class="mb-4 mt-2 text-center">Stuff I make and made</h2>
		<div class="stuff-list">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col col-projects-icon">
							<img src="/img/disq.jpg" width="64" alt="Disq" class="rounded-circle" />
						</div>
						<div class="col">
							<h4 class="card-title">Disq <span class="ml-2 badge badge-success badge-next-to-name">Active development</span></h4> 
							<p class="card-text">File upload, short URLs and much more.</p>
							<a href="https://disq.me" class="btn btn-trm mr-1">
								<i class="fas fa-globe"></i> Website
							</a>
							<a href="https://discord.gg/CeBBXWN" class="btn btn-discord">
								<i class="fab fa-discord"></i> Discord Server
							</a>
						</div>
					</div>
					<div class="position-relative">
						<span class="position-absolute badge-floating right-0 badge badge-success">Active development</span>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col col-projects-icon">
							<img src="/img/quizel.jpg" width="64" alt="Quizel" class="rounded-circle" />
						</div>
						<div class="col">
							<h4 class="card-title">Quizel <span class="ml-2 badge badge-warning badge-next-to-name">Coming soon</span></h4>
							<p class="card-text">An educational quiz platform designed to keep your students engaged.</p>
							<a href="https://twitter.com/QuizelEDU" class="btn btn-twitter">
								<i class="fab fa-twitter"></i> Twitter
							</a>
						</div>
					</div>
					<div class="position-relative">
						<span class="position-absolute badge-floating right-0 badge badge-warning">Coming soon</span>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col col-projects-icon">
							<img src="/img/histacom.png" width="64" alt="Histacom" class="rounded-circle" />
						</div>
						<div class="col">
							<h4 class="card-title">Histacom <span class="ml-2 badge-next-to-name badge badge-warning">Semi-active</span></h4>
							<p class="card-text">Revival of the original hacking simulator!</p>
							<a href="https://github.com/TheRandomMelon/Histacom" class="btn btn-secondary mr-1">
								<i class="fab fa-github"></i> GitHub
							</a>
							<a href="https://discord.gg/CeBBXWN" class="btn btn-discord">
								<i class="fab fa-discord"></i> Discord Server
							</a>
						</div>
					</div>
					<div class="position-relative">
						<span class="position-absolute badge-floating right-0 badge badge-warning">Semi-active development</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>