<footer class="footer">
	<br>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4><img class="rounded-circle" src="/img/trm_logo.png" width="22" /> TheRandomMelon</h4>
				<div class="row">
					<div class="col-6">
						<span class="h5">Other stuff</span>
					</div>
					<div class="col-6">
						<span class="h5">"Professional" contact</span>
					</div>
				</div>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="https://melonz.nl"><i class="fa fa-globe" aria-hidden="true"></i> Melonz</a></li>
                            <li><a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i> Blog RSS feed</a></li>
                        </ul>
                    </div>
					 <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="mailto:trm@melonz.nl"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
                        </ul>	
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="https://www.facebook.com/TheRandomMelon" class="nav-link pl-0" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://twitter.com/RandomMelonYT" class="nav-link" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li class="nav-item"><a href="https://www.youtube.com/TheRandomMelon" class="nav-link" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play fa-lg"></i></a></li>
                    <li class="nav-item"><a href="https://github.com/TheRandomMelon" class="nav-link" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fa fa-github fa-lg"></i></a></li>
					<li class="nav-item"><a href="https://stackoverflow.com/users/6280278/therandommelon?tab=profile" class="nav-link" data-toggle="tooltip" data-placement="top" title="StackOverflow (I code too!!!!11one)"><i class="fa fa-stack-overflow fa-lg" aria-hidden="true"></i></a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</footer>