<footer class="footer">
	<div class="m-4">
		<h1><img src="/img/trm_logo.png" width="50" alt="TRM Logo" class="rounded-circle align-top" /> TheRandomMelon</h1>

		<a href="https://twitter.com/trmmelon" class="mr-2" style="color: #00aced;"><i class="fa fa-twitter"></i> Twitter</a>
		<a href="https://www.youtube.com/TheRandomMelon" class="mr-2" style="color: #FF0000;"><i class="fa fa-youtube"></i> YouTube</a>
		<a href="https://github.com/TheRandomMelon" class="mr-2" style="color: white;"><i class="fa fa-github"></i> GitHub</a>
		<a href="https://minds.com/TheRandomMelon" class="mr-2" style="color: #FFCC00;"><i class="fa fa-lightbulb-o"></i> Minds</a>
	</div>
</footer>