<div class="bg-darker p-3">
	<h2 class="d-inline"><img src="/img/trm_logo.png" width="40" alt="TRM Logo" class="rounded-circle align-top" /> <a href="/blog/" class="text-white">TheRandomMelon's blog</a></h2>
	<div class="d-inline pb-2 ml-3">
		<a href="/blog" class="mr-2 text-white"><i class="fa fa-home"></i> Home</a>
		<a href="https://twitter.com/michaelwebbtrm" class="mr-2 text-twitter"><i class="fab fa-twitter"></i> Twitter</a>
		<a href="https://www.youtube.com/TheRandomMelon" class="mr-2 text-youtube"><i class="fab fa-youtube"></i> YouTube</a>
		<a href="https://gitlab.com/TheRandomMelon" class="mr-2 text-gitlab"><i class="fab fa-gitlab"></i> GitLab</a>
		<a href="https://github.com/TheRandomMelon" class="mr-2 text-github"><i class="fab fa-github"></i> GitHub</a>
		<a href="" data-toggle="modal" data-target="#emailModal" class="mr-2 text-blog"><i class="fas fa-envelope"></i> Email</a>
		<a href="/feed.xml" class="mr-2" style="color: #f26522;"><i class="fa fa-rss"></i> RSS feed</a>
		<a href="/about/" class="mr-2 text-white" ><i class="fa fa-user"></i> About me</a>
	</div>
</div>