<div class="alert alert-info rounded-0" role="alert">
	<i class="fa fa-info-circle"></i> This is an archive of my old blog — check out my new Medium blog <a class="alert-link" href="https://medium.com/@TheRandomMelon">here</a>.
</div>
<div class="ml-4 mt-2">
	<h2><img src="/img/trm_logo.png" width="40" alt="TRM Logo" class="rounded-circle align-top" /> <a href="/blog/" style="color: white;">TheRandomMelon's blog</a></h2>

	<a href="/" class="mr-2" style="color: white;"><i class="fa fa-home"></i> Home</a>
	<a href="https://twitter.com/trmmelon" class="mr-2" style="color: #00aced;"><i class="fa fa-twitter"></i> Twitter</a>
	<a href="https://www.youtube.com/TheRandomMelon" class="mr-2" style="color: #FF0000;"><i class="fa fa-youtube-play"></i> YouTube</a>
	<a href="https://github.com/TheRandomMelon" class="mr-2" style="color: #ddd;"><i class="fa fa-github"></i> GitHub</a>
	<a href="https://medium.com/@TheRandomMelon" class="mr-2" style="color: white;"><i class="fa fa-medium"></i> Medium</a>
	<a href="https://minds.com/TheRandomMelon" class="mr-2" style="color: #FFCC00;"><i class="fa fa-lightbulb-o"></i> Minds</a>
	<a href="/feed.xml" class="mr-2" style="color: #f26522;"><i class="fa fa-rss"></i> RSS feed</a>
	<a href="/about/" class="mr-2" style="color: white;"><i class="fa fa-user"></i> About me</a>
</div>