<div class="ml-4 mt-4">
	<h2><img src="/img/trm_logo.png" width="40" alt="TRM Logo" class="rounded-circle align-top" /> <a href="/blog/" style="color: white;">TheRandomMelon's blog</a></h2>

	<a href="/" class="mr-2" style="color: white;"><i class="fa fa-home"></i> Home</a>
	<a href="https://twitter.com/michaelwebbtrm" class="mr-2 text-twitter"><i class="fab fa-twitter"></i> Twitter</a>
	<a href="https://www.youtube.com/TheRandomMelon" class="mr-2 text-youtube"><i class="fab fa-youtube"></i> YouTube</a>
	<a href="https://gitlab.com/TheRandomMelon" class="mr-2 text-gitlab"><i class="fab fa-gitlab"></i> GitLab</a>
	<a href="https://github.com/TheRandomMelon" class="mr-2 text-github"><i class="fab fa-github"></i> GitHub</a>
	<a href="" data-toggle="modal" data-target="#emailModal" class="mr-2 text-blog"><i class="fas fa-envelope"></i> Email</a>
	<a href="/feed.xml" class="mr-2" style="color: #f26522;"><i class="fa fa-rss"></i> RSS feed</a>
	<a href="/about/" class="mr-2" style="color: white;"><i class="fa fa-user"></i> About me</a>
</div>
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Email address</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<pre class="text-white">michael [at] therandommelon [dot] com</pre>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-trm" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>
<br>